body{
    margin: 0px;
    padding: 0px;
    /* direction: rtl; */
    background-color: #0d6efd;

}

/* .style{
   background-image: url(images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   background-position: center;
    
    
}
.container12{
    background-color:#505050;
} */